ui            = true
disable_mlock = true

storage "file" {
  path = "{{ vault_data_dir }}"
}

listener "tcp" {
  address     = "0.0.0.0:{{ vault_api_port }}"
  tls_disable = {{ "false" if vault_tls_enabled else "true" }}
{% if vault_tls_enabled %}
  tls_cert_file = "{{ vault_cert_path }}"
  tls_key_file  = "{{ vault_key_path }}"
{% endif %}
}

api_addr     = "{{ 'https' if vault_tls_enabled else 'http' }}://{{ ansible_host }}:{{ vault_api_port }}"
cluster_addr = "https://{{ ansible_host }}:{{ vault_cluster_port }}"