[Unit]
Description=Redis Commander
After=network.target redis-server.service

[Service]
Type=simple
EnvironmentFile=/etc/redis-commander.env
ExecStart=/usr/local/bin/redis-commander \
  --port {{ redis_commander_port }} \
  --redis-host 127.0.0.1 \
  --redis-port {{ redis_port }} \
  --redis-password ${REDIS_PASSWORD} \
  --http-auth-username ${REDIS_COMMANDER_USER} \
  --http-auth-password ${REDIS_COMMANDER_PASSWORD}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target