<VirtualHost *:443>
    ServerName {{ pgadmin_tls_domain }}

    SSLEngine on
    SSLCertificateFile    /etc/letsencrypt/live/{{ pgadmin_tls_domain }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ pgadmin_tls_domain }}/privkey.pem

    SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1
    SSLCipherSuite HIGH:!aNULL:!MD5

    # pgadmin4.conf is loaded globally via a2enconf - no Include here to
    # avoid duplicate WSGI daemon definitions. The redirect is sufficient.
    RedirectMatch ^/$ /pgadmin4
</VirtualHost>