http:
  pprof:
    port: 6060
    enabled: false
  address: 0.0.0.0:{{ adguard_web_port }}
  session_ttl: 720h
users:
  - name: "{{ adguard_username }}"
    password: "{{ adguard_password | password_hash('bcrypt') }}"
auth_attempts: 5
block_auth_min: 15
dns:
  bind_host: 0.0.0.0
  port: {{ adguard_dns_port }}
  upstream_dns:
    - https://dns10.quad9.net/dns-query
    - https://cloudflare-dns.com/dns-query
  bootstrap_dns:
    - 9.9.9.10
    - 1.1.1.1
  fallback_dns: []
  cache_size: 4194304
  cache_ttl_min: 0
  cache_ttl_max: 0
  cache_optimistic: false
  blocked_response_ttl: 10
  protection_enabled: true
  filtering_enabled: true
  safe_browsing_enabled: false
  parental_enabled: false
querylog:
  enabled: true
  file_enabled: true
  interval: 2160h
  size_memory: 1000
  ignored: []
statistics:
  enabled: true
  interval: 24h
  ignored: []
filters:
  - enabled: true
    url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_1.txt
    name: AdGuard DNS filter
    id: 1
log:
  compress: false
  local_time: false
  max_backups: 0
  max_size: 100
  max_age: 3
  file: ""
  verbose: false