interface=eth1
bind-interfaces
dhcp-range={{ dpi_dhcp_range_start }},{{ dpi_dhcp_range_end }},{{ dpi_dhcp_lease }}
dhcp-option=option:router,{{ dpi_ap_ip }}
dhcp-option=option:dns-server,{{ dpi_ap_ip }}