<VirtualHost *:443>
    ServerName {{ pgadmin_tls_domain }}

    SSLEngine on
    SSLCertificateFile    /etc/letsencrypt/live/{{ pgadmin_tls_domain }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ pgadmin_tls_domain }}/privkey.pem

    SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1
    SSLCipherSuite HIGH:!aNULL:!MD5

    # pgAdmin4 app — created by setup-web.sh
    Include /etc/apache2/conf-available/pgadmin4.conf

    # Redirect bare / to /pgadmin4
    RedirectMatch ^/$ /pgadmin4
</VirtualHost>